<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Landlord Sucks</title>

  <!-- STYLESHEETS -->
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>

<body>
  <div align = "right">
  <a href="javascript:;" id="scrollToBottom">&#x25BC;</a>
  </div>

<!--    Header    -->
  <header>
    <img class="logo" src="/images/shout2.png" alt="logo">
    <h2>My Landlord Sucks</h2>
  </header>
  
<!--    Main    -->
  <main>
    <section id='message-form' class="container">

<!--   New Message Button   -->
    <button class='btn btn-success btn-new-msg'>
        <span class='new-msg'>
            <i class="fa fa-plus" aria-hidden="true"></i> New Message
        </span>
        <span class='close-msg'>
            <i class="fa fa-times" aria-hidden="true"></i> Close
        </span>
    </button>

<!--   New Message Form   -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal create-form star-form" name='validationForm' action="">
          <fieldset>
            <div class="form-group col-xs-12">
              <label class="control-label" for="create-title">Title</label>
              <div>
                <input id="create-title" name="title" type="text" placeholder="Enter your title" class="form-control input-md">
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="create-address">Address</label>
              <div>
                <input id="create-address" name="address" type="text" placeholder="San Francisco, CA 94000" class="form-control input-md">
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="create-rating">Rating</label>
              <div>
                <select id="create-rating" name="rating" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div>
                    <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='1'></i>
                    <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='2'></i>
                    <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='3'></i>
                    <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='4'></i>
                    <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='5'></i>
                </div>
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="create-imgURL">Image URL</label>
              <span class='img-file-extension'>( jpg, jpeg, png, tiff, gif, svg )</span>
              <div>
                <input id="create-imgURL" name="imgURL" type="text" placeholder="https://www.domain.com/your-image.gif" class="form-control input-md">
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="create-message">Message</label>
              <div class="">
                <textarea class="form-control" id="create-message" name="message" placeholder="Enter your message."></textarea>
              </div>
            </div>

            <!--   Submit Button   -->
            <div id=submit-div>
              <button name="submitButton" class="btn btn-primary submit-button">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>

<!--  Message Board  -->
  <div class='container'>
    <div id='messageBoard' class='row'>
      <!--    Seed Data       -->
    </div>
  </div>
</main>

<!--   Modal   -->
  <div class="modal fade" id="messageModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <!--  .readable-modal-body -->
            <div class="readable-modal-body">
                <img class='readable-img' >
                <h4 class='readable-title'></h4>
                <p class='readable-address'></p>
                <p class='readable-rating'></p>
                <p class='readable-msg'></p>
            </div>   
            <!-- .editable-modal-body -->
            <div class="editable-modal-body"> 
                <form class='form-horizontal modal-form star-form'>
                  <div class="form-group">
                      <img id="myImg" >
                  </div>
                <div class="form-group asterisk">
                    <label for='title' class='col-xs-3'>Title</label>
                    <input id='title' name='title' class='col-xs-9' required>
                    <p class='error'>Title is required.</p>
                </div>
                <div class="form-group asterisk">
                    <label for='address' class='col-xs-3'>Address</label>
                    <input id='address' name='address' class='col-xs-9' required>
                    <p class='error'>Address is required.</p>
                </div>
                <div class="form-group asterisk">
                    <label for='rating' class='col-xs-3'>Rating</label>
                    <div>
                        <select id="rating" name="rating" class="form-control" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div id='starsWrapper'>
                            <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='1'></i>
                            <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='2'></i>
                            <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='3'></i>
                            <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='4'></i>
                            <i class="fa fa-star fa-2x" aria-hidden="true" data-star-id='5'></i>
                        </div>  
                    </div>
                </div>
                <div class="form-group">
                    <label for='imgURL' class='col-xs-3'>Image URL</label>
                    <input id='imgURL' name='imgURL' class='col-xs-9'>
                </div>
                <div class="form-group">
                    <label for='message' class='col-xs-3'>Message</label>
                    <textarea id='message' name='message' class='col-xs-9'></textarea>
                </div>
              </form>  
            </div>         
        </div>
        <!--  Modal Buttons  -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning edit-button">Edit</button>
          <button type="button" class="btn btn-info update-button">Save changes</button>
          <button type="button" class="btn btn-danger delete-button" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

<!--  Scroll Top Button  -->
  <div align = "right">
    <a href="javascript:;" id="scrollToTop">&#x25B2;</a>
  </div>
    
</body>
</html>