<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Landlord Sucks</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
</head>
<body>
        
        
        
<!--    Header    -->
    <div class='container'>
        <div class='row'>
            <h1>My Landlord Sucks.</h1>
        </div>
    </div>




<!--    Form    -->
    <div class='container'>
        <div class='row'>
            <form>
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label>Rating</label>
                    <select name="rating" class="form-control">
                        <option value="zero">0</option>
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                    </select>
                </div>

                
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control"></textarea>
                </div>
            </form>
        </div>
    </div>
    
<!--  Message List  -->
    <div class='container'>
        <div id='messageBoard' class='row'>
            <p>Lorem ipsum</p>
        </div>
    </div>
</body>


</html>
