body {
    background-color: #DCDCDC;
}
header {
    background-color: firebrick;
}

.header {
  border-style: dashed;
  border-color: purple;
  background-color: firebrick;
}
.logo {
  width: 75px;
  height: auto;
}
header > h1 {
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 3em;
    text-align: left;
    color: #fff;
    font-weight: bolder;
    margin: 0;
    padding: .2em 0 .5em 0;
    border-style: dashed;
    border-color: yellow;
    display: inline;
}
#message-form {
    padding-right: 0;
    display: flex;
    flex-direction: column;
}
.btn-new-msg {
    min-width: 200px;
    margin: 2em 0;
}
.close-msg {
    display: none;
}
.create-form {
    display: none;
}
.btn-primary {
  margin-right: 20px;
}
.submit-button {
    width: 100%;
}
.msg-wrapper {
    background-color: #fff;
    margin: 1em 0;
    border-radius: .3em;
    padding-left: 0;
}
.msg-wrapper:hover {
    cursor: pointer;
    color: firebrick;
}
img.msg-img {
    padding-left: 0;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
}
img.msg-img:hover {
    opacity: .8;
}
.msg-content {
    padding-bottom: 5px;
}
i.fa-2x {
    color: goldenrod;
}
/* Small Screen Break Points ( 0 - 765 px) */
@media (min-width: 300px) {
    .btn-new-msg {
        width: 100%;
        float: none;
    }
    #message-form {
        padding-right: 15px;
    }
    #messageBoard {
        padding: 0 15px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

}
/* Medium Screen Break Points ( 765 - px) */
@media (min-width: 765px) {
    .btn-new-msg {
        width: 150px;
        float: right;
        align-self: flex-end;
    }
    #submit-div {
        width: 100%;
        text-align: center;
    }
    .submit-button {
        width: 200px;
        padding: 5px;
        margin: 10px 0;
    }
    #message-form {
        padding-right: 0;
    }
    #messageBoard {
        padding: 0;
    }
    .container {
        max-width: 900px;
    }
}

#scrollToBottom
{
  cursor:pointer;
  background-color:black;
  display:inline-block;
  height:40px;
  width:40px;
  color:#fff;
  font-size:16pt;
  text-align:center;
  text-decoration:none;
  line-height:40px;
  float: right;
}
#scrollToTop
        {
          cursor:pointer;
          background-color:#0090CB;
          display:inline-block;
          height:40px;
          width:40px;
          color:#fff;
          font-size:16pt;
          text-align:center;
          text-decoration:none;
          line-height:40px;
        }
