body {
    background-color: #DCDCDC;
}
h1 {
    text-align: center;
    color: #999;
    font-weight: bolder;
}
.close-msg {
    display: none;
}
.btn-new-msg {
    margin: 1em 0;
}
.create-form {
    display: none;
}
.btn-primary {
  margin-right: 20px;
}
