body {
    background-color: #DCDCDC;
}
header {
    background-color: firebrick;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    height: 75px;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    width: 100%;
}
header > h2 {
    font-family: 'Gloria Hallelujah', sans-serif;
    text-align: left;
    color: #fff;
    font-weight: bolder;
    display: inline;
    vertical-align: middle;
}
header > .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
    padding-top: 10px;
    vertical-align: middle;
}
main {
    padding-top: 75px;
}
#message-form {
    padding-right: 0;
    display: flex;
    flex-direction: column;
}
.btn-new-msg {
    min-width: 200px;
    margin: 2em 0;
}
.close-msg {
    display: none;
}
.create-form {
    display: none;
}
.btn-primary {
  margin-right: 20px;
}
.submit-button {
    width: 100%;
}
.msg-wrapper {
    background-color: #fff;
    margin: 1em 0;
    border-radius: .3em;
    padding-left: 0;
}
.msg-wrapper:hover {
    color: firebrick;
    cursor: pointer;
}
img#myImg {
    width: 100%;
}
img.msg-img {
    min-height: 163px;
    padding-left: 0;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
}
img.msg-img:hover {
    opacity: .8;
}
.img-file-extension {
    font-size: .8em;
    font-weight: bold;
}
img.readable-img {
    width: 100%;
}
.msg-content {
    padding-bottom: 5px;
}
i.fa-star {
    color: #ccc;
}
select#create-rating, select#rating {
    display: none;
}
div.stars-rating-1 i.fa-star:first-child {
    color: #f2bd79;
}
div.stars-rating-2 i.fa-star:nth-child(-n+2) {
    color: #fec011;
}
div.stars-rating-3 i.fa-star:nth-child(-n+3) {
    color: #ff9242;
}
div.stars-rating-4 i.fa-star:nth-child(-n+4) {
    color: #f15c4f;
}
div.stars-rating-5 i.fa-star:nth-child(-n+5)  {
    color: #d32323;
}
.form-group.asterisk label:after {
    content:" *";
    color: firebrick;
}
.error {
    color: firebrick;
    display: none;
    clear: both;
    text-align: right;
}
.form-group.invalid .error {
    display: block;
}
.form-group.invalid input {
    border: firebrick 2px solid;
}

/* Small Screen Break Points */
@media (max-width: 765px) and (min-width: 200px) {
    #messageBoard > .msg-wrapper {
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .msg-wrapper > img {
        padding-right: 0;
    }
    .btn-new-msg {
        width: 100%;
        float: none;
    }
    #message-form {
        padding-right: 15px;
    }
    #messageBoard {
        padding: 0 15px;
    }
    .submit-button {
        margin-bottom: 30px;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    label.col-xs-3 {
        padding-left: 0;
    }
}

/* Medium Screen Break Points */
@media (max-width: 2000px) and (min-width: 766px) {
    .btn-new-msg {
        width: 150px;
        float: right;
        align-self: flex-end;
    }
    #submit-div {
        width: 100%;
        text-align: center;
    }
    .submit-button {
        width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 10px 0;
    }
    #message-form {
        padding-right: 0;
    }
    #messageBoard {
        padding: 0;
    }
    .container {
        max-width: 700px;
    }
}
